body{ 
    background: rgb(255, 227, 193);
}
h1{ 
    font-size: 60px;
    color: rgb(255, 0, 0);
}
img {
    width: 14%;
    height: 2%;
    margin: 1%;
}
.cabecalho{ 
    background-color: rgb(255, 185, 173);    
}
.logocabecalho{
    width: 100px;
    height: 100px;
    margin-top: 70px;
}
.lista_cabecalho{
    display: flex;
    margin-left: 55px;
}
.item_lista_cabecalho{
font-size: 28px;
list-style: none;
padding-left: 70px;
}
