body{ 
    background-color: rgb(247, 224, 196);
}
h1{ 
    font-size: 60px;
    color: rgb(255, 0, 0);
}
img {
    width: 14%;
    height: 2%;
    margin: 1%;
}
.cabecalho{ 
    background-color: rgb(201, 157, 157);    
}